<div class="footer">
  <div class="container">
  

      <ul>
      <li>Телефон: 8-800-123-45-67</li>
      <li>Email: info@fitnesscenter.com</li>
    </ul>
  
    <a href="/comment" class="button">Оставить отзыв</a>
  </div>
     
  </div>