



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Фитнесс Центр</title>
  
  <link href="../css/style_nav_new2.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
 
  <link href="../css/style_footer.css" rel="stylesheet" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <style>

.under_header{
  background: #ec4141;
    position: relative;
    height: 80px;
    margin: 0;
    padding: 0;
  }
  body{
  line-height: normal;
  font-size: normal;
  }
.tittle
{
  padding-top: 20px;
  display: block;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
    display: block;
    text-align: center;
}
header
{
background: #000;
position: relative;
}
.head{
background: #000;
}
.conte
{
  position: relative;
    background: #1c1c1c;
    padding: 50px 0 0px 0;
}
.price h3{
  line-height: 1.1em;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.price span{
  color: #e62026;
  text-transform: none;
}
p {

    margin: 0 0 10px;
font-size: 18px;
}
.menu {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    padding: 0 0 15px;
    margin-bottom: 20px;
   color: #ec4141;
   display: flex;
  flex-wrap: wrap;
}

.menu li {
    padding: 34px 30px 34px;
    margin-bottom: 20px;
    margin-right: 40px;
   max-width: 40%;

    float: left;
    background: #4a4a4a;
    line-height: 30px;
    border-left: 2px solid #ec4141 !important;
    border-radius: 0 0 15px 0;
    border: 1px solid #5a5a5a;
}
.details{
  line-height: 1;
  font-size: 18px;
    color: #b6b6b6;
    font-weight: normal;
}
.pric{
  color: #b6b6b6;
  font-size: 15px;
    float: right;
    font-weight: 600;

}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    font-size: 14px;
    padding: 4px;
    color: #b6b6b6;
}

select
{
  background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    
    font-size: 14px;
    padding: 4px;
    color: #b6b6b6;
}

select:not(:checked) option {
  font-size: 14px;
  background-color: #272727;
  height: 50px;

}
select:not(:checked) option  span{
 float: right;

}
option:hover{
  color: #ec4141;
}
.btn {
  font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    background: #ec4141;
    border-color: #ec4141;
    width: 120px;
    height: 40px;
    border-radius: 0;
    float: right;
}
button
{
  font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    background: #ec4141;
    border-color: #ec4141;
    width: 120px;
    height: 40px;
    border-radius: 0;
    float: right;

}
textarea{
  color: #b6b6b6;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    font-size: 14px;
    padding: 4px;
}
.form_container {
  display: flex;
  justify-content: space-between;
}

form {
  margin:0 auto 100px auto;
  width: 500px;
  align-items: center;
}
.autor
{
width: 1180px;
height: 337px;
text-align: center;
}
.autor h1
{
  padding-top: 110px;
  text-transform: uppercase;
}
.autor a
{
  text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    list-style: none;
    padding: 0 0 15px;
    margin-bottom: 20px;
   color: #ec4141;
}
	</style>
</script>
</head>
<body>
	<%- include('partials/nav.ejs') %>
<div class="under_header"> <div class="container"><h2 class="tittle">Отзывы</h2></div></div>
    
<div class="conte"> <div class="container">
  <% if (user) { %>
     
    <form id="post-form" method="post" action="/comment">
  
      <input type="text" id="text" name="text" required placeholder="Введите текст комментария"></>
      <select id="mark" name="mark">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button type="submit">Добавить</button>
    </form>
<% } %>




<ul class="menu">   
 <% if (comment.length) { %>
  <% comment.forEach(({text, author, mark}) => { %>
  <li>





    <div class="wer">
      <article>
      <div class="info">
        
        <span>Автор:<%= author%> <br> <% for (var i = 0; i < mark; i++) { %>
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
        <% } %></span><br>
      
        <p class="details"><%= text %></p>
        <br>
      </div>
    </article>
        </div>

  </li>
    <% }) %>
  <% } %>
</ul>

</div></div>


  <%- include('partials/footer.ejs') %>
  <script src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
  <script>

function sendEmail(){
  const toName = document.getElementById("toname").value;
const toEmail = document.getElementById("to_email").value;
const cuponName = document.getElementById("cupon_name").value;

// Проверка наличия данных в полях
if (!toName || !toEmail || !cuponName) {
alert("Please fill in all fields.");
return;
}
// Текущая дата
const currentDate = new Date();
const formattedCurrentDate = currentDate.toISOString().slice(0, 10);

// Дата через месяц
const oneMonthLater = new Date();
oneMonthLater.setMonth(currentDate.getMonth() + 1);
const formattedOneMonthLater = oneMonthLater.toISOString().slice(0, 10);

var data = {
service_id: 'service_4ig7y57',
template_id: 'template_c2krn9h',
user_id: '2oVnCy2W7_8JYIuOV',
template_params: {to_name:document.getElementById("toname").value,
to_email:document.getElementById("to_email").value,
cupon_name:document.getElementById("cupon_name").value,
time_end:formattedOneMonthLater,
}
};


$.ajax('https://api.emailjs.com/api/v1.0/email/send', {
type: 'POST',
data: JSON.stringify(data),
contentType: 'application/json'
}).done(function() {

alert('Your mail is sent!');
}).fail(function(error) {
alert('Oops... ' + JSON.stringify(error));
});

$.ajax({
  url: '/time',
  type: 'POST',
  data: {
    toname:document.getElementById("toname").value,
cupon_name:document.getElementById("cupon_name").value,
  },
  success: function(response) {
    console.log(response);
  },
  error: function(error) {
    console.log(error);
  }
});

}

let data={
  "name": ["Весовая тренировка","Кардио","Йога","Сжигание веса"],
  "description1": "Тренинировка заставляет работать с максимальным эффективом для роста мышц.",
  "description2": "Данное направление - это быстрая работа на пульсе 120 или более, чтобы подготовить сердце и организм.",
  "description3": "Расслабление, снятие стресса, познание себя- это главное в этом курсе.",
  "description4": "Преодолей свои слабости и обрети сильный интеллект, чтобы расцвести новым человеком.",
  "image": ["","","",""],
}

      $('#weigth_traning').click(function() {

        
        var modal = document.getElementById("modal");
        var mod_cont = document.getElementById("modal-content"); 
        //  
        mod_cont.style.backgroundRepeat= "no-repeat";
        mod_cont.style.backgroundSize="cover";
              // отображение дополнительной информации
              $("#additional-info").html("<h2" + data.name[0]+ "</h2><p>" + data.description1 + "</p><p>"+ data.image[0] + "</p>");
            if(data.title=="Additional Information")  console.log("trueee")
            console.log(data.name[1])
              modal.style.display = "block";
              $('#close').click(function() 
              { modal.style.display = "none"; }
              )
      });



      
      $('#joga').click(function() {

        
var modal = document.getElementById("modal");
var mod_cont = document.getElementById("modal-content"); 
//  
mod_cont.style.backgroundRepeat= "no-repeat";
mod_cont.style.backgroundSize="cover";
      // отображение дополнительной информации
      $("#additional-info").html("<h2" + data.name[2]+ "</h2><p>" + data.description3 + "</p><p>"+ data.image[2] + "</p>");
    if(data.title=="Additional Information")  console.log("trueee")
    console.log(data.name[2])
      modal.style.display = "block";
      $('#close').click(function() 
      { modal.style.display = "none"; }
      )
});

 
$('#cardio').click(function() {
var modal = document.getElementById("modal");
var mod_cont = document.getElementById("modal-content"); 
//  
mod_cont.style.backgroundRepeat= "no-repeat";
mod_cont.style.backgroundSize="cover";
      // отображение дополнительной информации
      $("#additional-info").html("<h2" + data.name[1]+ "</h2><p>" + data.description2 + "</p><p>"+ data.image[1] + "</p>");
    if(data.title=="Additional Information")  console.log("trueee")
    console.log(data.name[1])
      modal.style.display = "block";
      $('#close').click(function() 
      { modal.style.display = "none"; }
      )
});
 
$('#weigth_lost').click(function() {

        
var modal = document.getElementById("modal");
var mod_cont = document.getElementById("modal-content"); 
//  
mod_cont.style.backgroundRepeat= "no-repeat";
mod_cont.style.backgroundSize="cover";
      // отображение дополнительной информации
      $("#additional-info").html("<h2" + data.name[3]+ "</h2><p>" + data.description4 + "</p><p>"+ data.image[3] + "</p>");
    if(data.title=="Additional Information")  console.log("trueee")
    console.log(data.name[3])
      modal.style.display = "block";
      $('#close').click(function() 
      { modal.style.display = "none"; }
      )
});



  </script>
</html>



















