
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="../css/style_footer.css" rel="stylesheet" type="text/css">
  <link href="../css/style_nav_new2.css" rel="stylesheet" type="text/css">
  
	<title>Фитнесс Центр</title>
	<style>

.under_header{
  background: #ec4141;
    position: relative;
    height: 80px;
    margin: 0;
    padding: 0;
  }
  body{
  line-height: normal;
  font-size: normal;
  }
.tittle
{
  padding-top: 20px;
  display: block;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
    display: block;
    text-align: center;
}
header
{
background: #000;
position: relative;
}
.head{
background: #000;
}
.conte
{
  position: relative;
    background: #1c1c1c;
    padding: 50px 0 0px 0;
}
.price h3{
  line-height: 1.1em;
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.price span{
  color: #e62026;
  text-transform: none;
}
p {

    margin: 0 0 10px;
font-size: 18px;
}
.menu {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    padding: 0 0 15px;
    margin-bottom: 20px;
   color: #ec4141;
   display: flex;
  flex-wrap: wrap;
}

.menu li {
    padding: 34px 30px 34px;
    margin-bottom: 20px;
    margin-right: 40px;
    width: 270px;

    float: left;
    background: #4a4a4a;
    line-height: 30px;
    border-left: 2px solid #ec4141 !important;
    border-radius: 0 0 15px 0;
    border: 1px solid #5a5a5a;
}
.details{
  line-height: 1;
  font-size: 13px;
    color: #b6b6b6;
    font-weight: normal;
}
.pric{
  color: #b6b6b6;
  font-size: 15px;
    float: right;
    font-weight: 600;

}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    display: inline-block;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 70%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    font-size: 14px;
    padding: 4px;
    color: #b6b6b6;
}

select
{
  background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    
    font-size: 14px;
    padding: 4px;
    color: #b6b6b6;
}

select:not(:checked) option {
  font-size: 14px;
  background-color: #272727;
  height: 50px;

}
select:not(:checked) option  span{
 float: right;

}
option:hover{
  color: #ec4141;
}
.btn {
  font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    background: #ec4141;
    border-color: #ec4141;
    width: 120px;
    height: 40px;
    border-radius: 0;
    float: right;
}
button
{
  display: inline-block;
  font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    background: #ec4141;
    border-color: #ec4141;
    width: 120px;
    height: 40px;
    border-radius: 0;

}
textarea{
  color: #b6b6b6;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    font-size: 14px;
    padding: 4px;
}
.form_container {
  display: flex;
  justify-content: space-between;
}

.services form, .services_add form {
  margin-bottom: 100px;
  width: 500px;
  margin-right: 40px;
  display: inline-block;
  margin-right: 20px;
}
.autor
{
width: 1180px;
height: 337px;
text-align: center;
}
.autor h1
{
  padding-top: 110px;
  text-transform: uppercase;
}
.autor a
{
  text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    list-style: none;
    padding: 0 0 15px;
    margin-bottom: 20px;
   color: #ec4141;
}


table{
  font-family: 'Poppins', sans-serif;
  min-height: 300px;
  margin: 50px auto 100px auto;
  width: 1170px;
    text-align: center;
    border: 1px solid #fff;
top: 150px;
z-index: 1;
  }
td
{
  z-index: 1;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
    border: 1px solid #fff;
    font-size: 20px;
}
tr:hover{
  background: #ff000033;
}
form
{
  width: 40%;
float: right;
}
.btn-delete{
width: 100%;
height: 100%;
}
td a i{
color: #fff;  
}
.second:last-child
{
background:#ec4141; 
}
td button
{
  background:#ec4141; 
}
.conte
{
min-height: 700px;
}
td a{
  text-decoration: none;
  color: #FFFFFF;
}
	</style>
</head>
<body>
	
	<div class="news">
  <ul>   
<!-- work-whith-account.ejs -->
<%- include('partials/nav.ejs') %>
<div class="under_header"> <div class="container"><h2 class="tittle">Консультирование</h2></div></div>
    
<!-- Форма поиска по логину -->





<div class="conte">

  <div class="container">


    <div class="news">
      </form>
      
      <table>
        
        <tr>
          <td>ЛОГИН</td>
        </tr>
  


        <% if (messages.length) { %>
          <% messages.forEach(({ user, name, text, price }) => { %>
            <tr>
             
                  <% if (text[0].sender !== 'brain') { %>
                    <td>
                      <h2>
                    <a href="/message/<%= user %>"><%= user %></a>
                  </h2>
                </td>
                  <% } else { %>

                  <% } %>
               
            </tr>
            <!-- Дополнительный код для отображения данных сообщений -->
          <% }) %>
        <% } else { %>
          <p>No messages found.</p>
        <% } %>
      </table>
  
    </div>
  
  </div>
  

</div>
















    
  </div>
  <div class="footer">	
    <ul>
    <li>Телефон: 8-800-123-45-67</li>
    <li>Email: info@fitnesscenter.com</li>
  </ul>

  <a href="/comment" class="button">Оставить комментарий</a>
</div>

  <script>
    document.addEventListener('click', (e)=>{
    const id = e.target?.dataset?.id || null;
    if(id){
    fetch('/work-whith-account/'+id, { method : 'DELETE',}).then(()=> {window.location.reload()});
    }
    });

    const popupCloseBtn = document.getElementById('popup-close');
popupCloseBtn.addEventListener('click', () => {
  const popup = document.getElementById('popup');
  popup.style.display = 'none';
});
  </script>
</body>
</html>